<section id="our-solutions" class="row">
  <h2 class="section-heading" style="text-align: center;">Edit by section</h2>
  <div class="container">

    <div class="grid-1 grid-md-1"></div>
    <div class="grid-6 grid-md-6">

      <ul>
        <li>
          <details>
            <summary>
              <h3>Basic Information</h3>
            </summary>
            <p>

              <form method="POST" action="/dashboard/basic/<%= data.user._id %>" name="basic">
                <div class="form-group">
                  <label for="unit_id">Unit ID</label>
                  <input type="text" name="unit_id" class="form-control" placeholder="Unit ID" required />
                </div>
                <div class="form-group">
                  <label for="title">Title</label>
                  <select name="title" class="form-control" required>
                    <option value="Mr"> Mr</option>
                    <option value="Mrs"> Mrs</option>
                    <option value="Dcn"> Deacon</option>
                    <option value="Pst"> Pastor</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="firstname">Firstname </label>
                  <input type="text" name="firstname" pattern="[A-Za-z]{1,32}" class="form-control"
                    placeholder="Firstname" required />
                </div>
                <div class="form-group">
                  <label for="lastname">Lastname</label>
                  <input type="text" name="lastname" pattern="[A-Za-z]{1,32}" class="form-control"
                    placeholder="Lastname" required />
                </div>
                <button type="submit" class="btn btn-primary mt-4">Update Basic Info </button>
              </form>
            </p>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <h3>General Information</h3>
            </summary>
            <p>
              <form method="POST" action="/dashboard/general/<%= data.user._id %>" name="general">
                <div class="form-group">
                  <label for="group">Group</label>
                  <input type="text" name="group" class="form-control" placeholder="Group" required />
                </div>
                <div class="form-group">
                  <label for="vocal_part">Select vocal part</label>
                  <select name="vocal_part" class="form-control" required>
                    <option value="Alto"> Alto</option>
                    <option value="Suprano"> Suprano</option>
                    <option value="Tenor"> Tenor</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="rehearsal_location">Select your reheasal location</label>
                  <select name="rehearsal_location" class="form-control" required>
                    <option value="Iyana"> Iyana </option>
                    <option value="Isashi"> Isashi </option>
                    <option value="Canaanland"> Canaanland </option>
                  </select>
                </div>



                <div class="form-group">
                  <label for="gender"> Gender</label>
                  <select name="gender" class="form-control" required>
                    <option value="Female"> Female</option>
                    <option value="Male"> Male</option>
                  </select>
                </div>


                <button type="submit" class="btn btn-primary mt-4">Update General Info </button>
              </form>

            </p>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <h3>Personal Information</h3>
            </summary>
            <p>
              <form method="POST" action="/dashboard/personal/<%= data.user._id %>" name="personal">

                <div class="form-group">
                  ,<label for="phone">Telephone number</label>
                  <input type="tel" class="form-control" name="phone" placeholder="Phone" required />
                </div>

                <div class="form-group">
                  <label for="whatsapp_phone">Whatsapp phone</label>
                  <input type="tel" name="whatsapp_phone" class="form-control" placeholder="Whatsapp Phone" required />
                </div>

                <div class="form-group">
                  <label for="contact_address">Contact address</label>
                  <input type="text" name="contact_address" class="form-control" placeholder="Contact Address"
                    required />

                </div>

                <div class="form-group">
                  <label for="pha">PHA</label>
                  <input type="text" name="pha" class="form-control" placeholder="PHA" required />
                </div>

                <div class="form-group">
                  <label for="dob">Date of Birth</label>
                  <input type="text" name="dob" class="form-control" placeholder="Date of birth" required />
                </div>

                <div class="form-group">
                  <label for="wed_date"> Wedding date</label>
                  <input type="text" name="wed_date" class="form-control" placeholder="Wedding Date" required />
                </div>

                <div class="form-group">
                  <label for="marital_status">Marital status</label>
                  <select name="marital_status" class="form-control" required>
                    <option value="Single"> Single</option>
                    <option value="Engaged"> Engaged</option>
                    <option value="Married"> Married</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="work_status">Work status</label>
                  <select name="work_status" class="form-control" required>
                    <option value="Self employed"> Self Employed </option>
                    <option value="Unemployed"> Unemployed </option>
                    <option value="Employed"> Employed </option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="profession">Profession</label>
                  <input type="text" name="profession" class="form-control" placeholder="Enter profession" required />
                  <br />
                </div>

                <div class="form-group">
                  <label for="employer_name">Name of your employer</label>
                  <input type="text" name="employer_name" class="form-control" placeholder="Employer name" required />
                </div>

                <div class="form-group">
                  <label for="employer_address">Employer address</label>
                  <input type="text" class="form-control" name="employer_address" placeholder="Employers Address"
                    required />
                </div>

                <div class="form-group">
                  <label for="state_origin"> State of origin</label>
                  <select name="state_origin" class="form-control" required>
                    <option value="Abia State"> Abia State </option>
                    <option value="Ogun State"> Ogun State</option>
                    <option value="Lagos State"> Lagos State</option>
                    <option value="Osun State"> Osun State</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="nationality"> Nationality</label>
                  <select name="nationality" class="form-control" required>
                    <option value="Nigerian"> Nigeria </option>
                    <option value="Ghanian"> Ghana</option>
                    <option value="Togolese"> Togo</option>
                  </select>
                </div>

                <button type="submit" class="btn btn-primary mt-4 mb-4">Update Personal Info </button>
              </form>
            </p>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <h3>Next of Kins Information</h3>
            </summary>
            <p>
              <form method="POST" action="/dashboard/nok/<%= data.user._id %>" name="nok">

                <div class="form-group">
                  <label for="nok_name"> Name of next of kins</label>
                  <input type="text" name="nok_name" class="form-control" placeholder="Enter name" required />
                </div>

                <div class="form-group">
                  <label for="nok_address">Address of next of kins</label>
                  <input type="text" name="nok_address" class="form-control" placeholder="Address" required />
                </div>

                <div class="form-group">
                  <label for="nok_phone">Phone number of next of kins</label>
                  <input type="tel" name="nok_phone" class="form-control" placeholder="Phone" required />
                </div>

                <div class="form-group">
                  <label for="occupation">Occupation of next of kins</label>
                  <input type="text" name="nok_occupation" class="form-control" placeholder="Occupation" required />
                </div>

                <div class="form-group">
                  <label for="nok_email">Email of next of kins</label>
                  <input type="email" name="nok_email" class="form-control" placeholder="Email" required />
                </div>

                <div class="form-group">
                  <label for="nok_relation">Relation to next of kins</label>
                  <select name="nok_relation" class="form-control" required>
                    <option value="husband"> Husband</option>
                    <option value="Son"> Son</option>
                    <option value="Daughter"> Daughter</option>
                  </select>
                </div>

                <button type="submit" class="btn btn-primary mt-4 mb-4">Update Next of Kin Info </button>
              </form>

            </p>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <h3>Choir Roles</h3>
            </summary>
            <p>
              <form method="POST" action="/dashboard/choir_roles/<%= data.user._id %>" name="choir_roles">

                <div class="form-group">
                  <label for="membership_status">Membership status</label>
                  <select name="membership_status" class="form-control" required>
                    <option value="Member"> Member</option>
                    <option value="Ordained worker"> Oradained Worker</option>
                    <option value="Pastorate"> Pastorate</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="leadership_status">Leadership status</label>
                  <select name="leadership_status" class="form-control" required>
                    <option value="Choir master"> Choir master</option>
                    <option value="Part head"> Part head </option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="sub_group"> Sub group</label>
                  <select name="sub_group" class="form-control" required>
                    <option value="Music team"> Music team</option>
                    <option value="Praise team"> Praise team</option>
                    <option value="Legal team"> Legal team</option>
                  </select>
                </div>

                <button type="submit" class="btn btn-primary mt-4 mb-4">Update Choir roles Info </button>
              </form>

            </p>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <h3>Church Information</h3>
            </summary>
            <p>
              <form method="POST" action="/dashboard/church_info/<%= data.user._id %>" name="church_info">

                <div class="form-group">
                  <label for="wsf_status">WSF status</label>
                  <select name="wsf_status" class="form-control" required>
                    <option value="Member"> Member</option>
                    <option value="Home provider"> Home provider</option>
                    <option value="District coordinator"> District coordinator</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="new_birth_year">Year of new birth</label>
                  <input type="text" name="new_birth_year" class="form-control" placeholder="New Birth year" required />
                </div>

                <div class="form-group">
                  <label for="holy_ghost_year">Year of Holy Ghost Baptism</label>
                  <input type="text" name="holy_spirit_year" class="form-control" placeholder="Holy ghost year"
                    required />
                </div>

                <div class="form-group">
                  <label for="lfc_joined_year">Year joined LFC</label>
                  <input type="text" name="lfc_joined_year" class="form-control"
                    placeholder="which year did you join LFC" required />
                </div>

                <div class="form-group">
                  <label for="ordination_year">Year of Ordination</label>
                  <input type="text" name="ordination_year" class="form-control" placeholder="Year of Ordination"
                    required />
                </div>

                <div class="form-group">
                  <label for="province">Province</label>
                  <input type="text" name="province" class="form-control" placeholder="Province" required />
                </div>

                <div class="form-group">
                  <label for="district">District</label>
                  <input type="text" name="district" class="form-control" placeholder="District" required />

                </div>

                <div class="form-group">
                  <label for="zone">
                    Zone
                  </label>
                  <input type="text" name="zone" class="form-control" placeholder="Zone" required />
                </div>
                <button type="submit" class="btn btn-primary mt-4 mb-4">Update Church Info </button>
              </form>

            </p>
          </details>
        </li>
      </ul>
      </details>

    </div>
    <div class="grid-4 grid-md-4">
      <div class="solution-image"></div>

    </div>
  </div>
  <div class="grid-1 grid-md-1"></div>
</section>