<h1> Users List </h1>

<table class="table table-striped">
  <thead>
    <tr>

      <th>Unit ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th> view </th>
    </tr>
  </thead>
  <tbody>
    <% data.users.forEach(function(user){ %>
    <tr>
      <td> <%= user.unit_id %> </td>
      <td> <%= user.firstname %> </td>
      <td> <%= user.lastname %> </td>
      <td> <%= user.email %> </td>
      <td> <a href="/dashboard?action=view_user&id=<%= user._id %>"><i class="fa fa-eye"></i></a> </td>

    </tr>
    <%}) %>

  </tbody>
</table>