<%- include("partials/header", { title: "Dashboard"}) -%>


<!-- <p class="text" id="text"> This is a text </p> -->
<div class="container-fluid display-table">
  <div class="row display-table-row">
    <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">

      <div class="logo">
        <a hef="home.html"><img src="/img/ftc-logo.png" style="border-radius: 25px; width: 40px; " alt="ftc logo"
            class="hidden-xs hidden-sm">
          <img src="/img/ftc-logo.png" alt="ftc logo" class="visible-xs visible-sm circle-logo"
            style="border-radius: 5px;" />
        </a>
      </div>
      <%- include("partials/side-menu") -%>

    </div>
    <div class="col-md-10 col-sm-11 display-table-cell v-align">
      <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
      <%- include("partials/top-navbar") -%>
      <div class="user-dashboard">
        <h1>Hello, <%= data.user.firstname %></h1>
        <% if (data.message) {%>
        <p> <%= data.message  %> </p>
        <%}%>

        <div class="row">
       
          <% if( data.query.action === 'profile'){%>
        <%- include("partials/profile")-%>
        <%}%>

          <% if( data.query.action === 'edit-profile'){%>
        <%- include("partials/edit_profile")-%>
        <%}%>
         
          <% if( data.query.action === 'update-profile-image'){%>
        <%- include("partials/update-profile-image")-%>
        <%}%>

          <% if( data.query.action === 'users'){%>
        <%- include("partials/report") -%>
        <%- include("partials/users")-%>
        <%}%>
          <!-- TODO -->
          <!-- Add supplort for notify and show notifications -->
          <% if( data.query.action === "notifications"){%>

        <%- include("partials/notification")-%>
        <%}%>

          <% if( data.query.action === "notify"){%>

        <%- include("partials/notify")-%>
        <%}%>

          <% if( data.query.action === 'view_user'){%>
        <%- include("partials/member_profile")-%>
        <%}%>
          </div>
        </div>
      </div>
    </div>

  </div>

  
<%- include("partials/footer") -%>